.publication
  %header
    %h1= @publication.title

  %p= link_to @publication.url.gsub(/https?:\/\//, ''), @publication.url

  %ul
    - @publication.users.each do |user|
      %li= user.username

%nav
  = link_to 'Back', publications_path
